.ctcform-container {
  background: linear-gradient(to bottom, #feffe3, #edfed0 ); 
}
#contactform {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background: linear-gradient(to bottom,#f18cac  , #6b75d6);
}

#contactform form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 100%;
}

#contactform label {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 45%;
}

#contactform input,
#contactform select {
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 300px;
  font-size: 16px;
}

#contactform select {
  max-width: 320px;
}

#contactform button[type="submit"] {
  padding: 5px 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#contactform button[type="submit"]:hover {
  background-color: #0062cc;
}

#contactform input:focus,
#contactform select:focus {
  outline: none;
  box-shadow: 0 0 5px #007bff;
}

.image-container,
.form-container {
  flex: 1;
  flex-basis: 40%;
  margin-right: 20px;
  text-align: center;
}

.ctcform-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.w3-green {
  color: #fff !important;
  background-color: #7ff783 !important;
}
.w3-panel h3
.w3-panel {
  padding: 0.01em 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 200px
}
.subtext {
  align-self: center;
  color: black;
}

/* .ctcform-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  .image-container {
    flex-basis: 40%;
    margin-right: 20px;
    text-align: center;
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
  #contactform.form-container {
    flex-basis: 40%;
  }
  
  #contactform h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #contactform form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  #contactform label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  #contactform input,
  select {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  #contactform button {
    margin-top: 20px;
  } */
