

#contactform form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  #contactform  label {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  #contactform  input, select {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    width: 300px;
    font-size: 16px;
  }
  
  #contactform  select {
    width: 320px;
  }
  
  #contactform  button[type="submit"] {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  #contactform  button[type="submit"]:hover {
    background-color: #0062cc;
  }
  
  #contactform  input:focus, select:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff;
  }
  