.v-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background: linear-gradient(to bottom, #d7edb4 , #efeab7);
  }
  
  .video {
    width: 100%;
    max-width: 800px;
    height: 400px;
  }
  
  .v-right {
    flex: 1;
  }
  
  .v-h1 {
    font-size: 2rem;
    margin-top: 0;
  }
  
  @media screen and (min-width: 768px) {
    .v-main {
      gap: 2rem;
    }
  
    .video {
      height: 500px;
    }
  
    .v-h1 {
      font-size: 3rem;
    }
  }
  