.upd-form {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.load{
  filter : blur(5px)
}

.upd-form label {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.upd-form label h3 {
  margin: 0;
  margin-bottom: 5px;
}

.upd-form input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.upd-form button {
  margin-top: 20px;
  padding: 10px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upd-form button:disabled {
  background-color: #ccc;
  cursor: default;
}