#del .main-table{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 7px;
    /* width: 100%; */
    /* width: 100vw; */
    margin-right: 30px;
}
#del .top-col-table{
  background-color: #322d45;
  color: white;
  padding: 2px 7px;
  /* width: 100%; */

  
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

}
#del  th,td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 1px;
}