#del .main-table{
    /* display: flex; */
    /* justify-content: space-between; */
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0px 7px;
    /* width: 100%; */
    /* width: 100vw; */
    margin-right: 30px;
}
#del .top-col-table{
  background-color: #322d45;
  color: white;
  padding: 2px 7px;
  /* width: 100%; */

  
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;

}
#del input{
  border: 1px solid #0b0b0b;
  border-radius: 4px;
  width: 500px;
}
#del  th,td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 1px;
}
/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  #del .label {
    width: 100%; /* make label take up full width on smaller screens */
    margin-right: 0;
  }
  
  #del .table-search {
    width: 100%; /* make input field take up full width on smaller screens */
    margin-bottom: 10px;
  }
  
  #del .select {
    margin-bottom: 10px; /* add space below dropdown on smaller screens */
  }
  
  #del .button {
    width: 100%; /* make clear button take up full width on smaller screens */
  }
} 