.sapcontainer {
    margin: auto;
    max-width: 600px;
    padding: 20px;
  }
.makepayment {
    background-color: #007bff;
   
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
    /* other styles */
    
  }
  button:hover {
    background-color: #dadcdf;
    color: black;
  }
  
  
  @media only screen and (max-width: 280px) {
    .makepayment button {
        margin-top: 20px;
  }}
  
  @media only screen and (max-width: 400px) {
    .makepayment {
      max-width: 300px;
      margin-top: 20px;
    }
  }
  
