.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  height: 60px;
}

.site-title {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}

.nav-right {
  margin-left: auto;
}

.nav-right ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-right li {
  margin-right: 10px;
}

.nav-right a {
  text-decoration: none;
  color: black;
  padding: 7px 14px;
  border-radius: 7px;
}
.nav-right .r-bg-black{
  color: white!important;
  background-color: black!important;
}

@media (max-width: 400px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .nav-right {
    margin-top: 10px;

  }
  
  .nav-right li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
