@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');


.new-con{
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;



    background-color:#f8f4ed
;
padding-left: 100px;
padding-right: 100px;


}
.right{
    flex:5;
    display: flex;
    flex-direction: column;
    align-items:first baseline;
    justify-content: flex-start;
height: 50%;
}
.left{
    flex:3;
}
.right-down-n .b-n-right{
    padding: 7px 18px!important;
    background-color: black;
    color: white;
    cursor: pointer!important;
    border: 1px solid black;
border-radius:7px ;


}
.right-down-n{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.c-n-right{
    background-color: white!important;
    color: black!important;
}
.left{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* justify-content: space-between; */

}
.left-n-box{
/* flex: 1; */
width: 40%;

background-color: #e8dfd0;
padding: 30px 20px;
margin: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.left-n-pic{
width: 130px;
height: 130px;
border-radius: 360px;
}







/* Responsive CSS for new-con */

@media only screen and (max-width: 768px) {
    .new-con {
      flex-direction: column;
      height: auto;
      padding: 50px 20px;
    }
    .right, .left {
      width: 100%;
      padding: 0;
    }
    .right {
      height: auto;
      align-items: center;
      justify-content: center;
      text-align: center;
      
    }
    .right-top-n {
      margin-bottom: 20px;
    }
    .right-down-n {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
    .left-n-box {
      width: 90%;
      margin: 20px 0;
    }
  }
  
  /* Larger screens */
  @media only screen and (min-width: 769px) {
    .new-con {
      height: 95vh;
      padding: 0 100px;
    }
    .right {
      height: 50%;
      align-items: first baseline;
      justify-content: flex-start;
    }
    .right-down-n {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      width: 250px;
    }
    .left {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .left-n-box {
      width: 40%;
      margin: 10px;
    }
  }
  