.main-Placement{
     background-color: #f8f4ed;
    min-height: 50vh;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;

}

.my-pic{
    width: 150px;
    height: 150px;
    border-radius: 360px;
    margin-bottom: 20px;
    

}

.con-p{
    background-color:  #e8dfd0;
    
   min-width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
    margin: 20px 0px;
}
.con-p:hover{
    cursor: pointer;
    
}

.center-p{
    text-align: center;
    margin: 20px 0px;
}

.center-p a{
    color: blue;
    font-weight: bolder;
    cursor: pointer;
}

.center-spinner{
    text-align: center;
    min-height: 50vh;
    margin: auto;
    width: 100%;
    
}