/* Desktop styles */
.placementcontainer {
  display: flex;
  justify-content: center;
}

.Placementform {
  text-align: center;
  margin: 20px;
}

.Placementform label {
  display: block;
  margin: 10px;
  font-size: 16px;
}

.Placementform input[type="string"],
.Placementform input[type="number"],
.Placementform select {
  width: 250px;
  height: 35px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.Placementform select {
  width: 270px;
}

.btn-place {
  background-color: white;
  color: #005086;
  border: 2px solid #005086;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.btn-place:hover {
  background-color: #005086;
  color: white;
  cursor: pointer;
}

.btn-place-up {
  background-color: #005086;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 250px;
}

.btn-place-up a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 12px 20px;
}

.btn-place-up:hover {
  background-color: white;
  color: #005086;
  cursor: pointer;
}

/* Mobile styles */
@media only screen and (max-width: 412px) {
  .placementcontainer {
    flex-direction: column;
    align-items: center;
  }

  .Placementform input[type="string"],
  .Placementform input[type="number"],
  .Placementform select {
    width: 100%;
    margin-bottom: 10px;
  }

  .btn-place-up {
    margin-right: 0;
  }
}
