/* .notify label{
    margin-bottom: 10px;
    width: 75%;
} */
#SENDNotice .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
#SENDNotice  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #a2a0a0;
  }
  
/* #SENDNotice  input{
    border: 1px solid #0b0b0b;
    border-radius: 4px;
    width: 600px;
  }
  
#SENDNotice  label {
    display: block;
    font-weight: bold;
    margin-left: 20px;
  } */
  
#SENDNotice  button {
    background-color: #2c622e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
#SENDNotice button:hover .linkto:hover{
    color:black;
}
#SENDNotice  button:hover {
    background-color: #6af36f;
    color: rgb(24, 24, 24);
    
  }
  
  .checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .checkbox-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    cursor: pointer;
  }
  
  .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkbox-custom {
    position: relative;
    display: inline-block;
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    margin-right: 8px;
  }
  
  .checkbox-custom:before {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox-input:checked ~ .checkbox-custom:before {
    display: block;
  }
  
  .checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #4285f4;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  .checkbox-input:checked ~ .checkbox-custom:after {
    display: block;
  }
  
  .checkbox-text {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  