.heading{
    color:aliceblue
}
.w-heading{
    color:aliceblue;
    align-self: center;
}
.nav-button{
    background-color: rgb(58, 51, 51);
    color: white;
    width:max-content;
    cursor:pointer;
    border-radius: 5px;
}
.nav-center{
    align-items: center;
}