#UpdateNotice .container {
    margin: 0 auto;
    max-width: 600px;
    padding: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
  
#UpdateNotice  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
#UpdateNotice  input{
    border: 1px solid #0b0b0b;
    border-radius: 4px;
    width: 500px;
  }
  
#UpdateNotice  label {
    display: block;
    font-weight: bold;
    margin-left: 20px;
  }
  
#UpdateNotice  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    /* padding: 16px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
#UpdateNotice  button:hover {
    background-color: #3e8e41;
  }
  